html body {
    margin: 0;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 200px;
    position: absolute;
    margin-top: -90px;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 0;
}
.part1{
    float: left;
    list-style: none;
    margin: 0;
}
.corfundo{
    color: white;
    text-decoration: none;
}
li{
    float: left;
    padding: 28.5 40 28.5 40;
    color: white;
}
li:hover{
    background-color: rgba(0, 128, 0, 0.596);
}
#nocolor:hover{
    background-color: transparent;
}
.imagemfundo{
    background: url(img/fundo1.jpg);
    text-align: center;
    background-size:cover;
    background-position: center;
    padding-top: 100px;
    height: 100%;
}
.fundocor{
    background-color: rgba(0, 128, 0, 0.322);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.titulo{
    color: white;
    padding: 5%  20%  0 20% ;
    margin-bottom: 0;
    margin-top: 50px;
    text-shadow: 2px 2px black;
    font-size: 50px;
}
.subtitulo{
    color: white;
    padding: 1% 20% 2% 20% ;
    text-align: center;
    text-shadow: black 2px;
    text-shadow: 2px 2px black;
    font-size: 20;
}
.acao{
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    padding: 1%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.322);
    font-weight: 800;
    font-size: 20;
    text-decoration: none;
}
.acao:hover{
    background-color: rgba(0, 128, 0, 0.596);
}
.icone{
    width: 35%;
}
.icone:hover{
    background-color: rgba(0, 128, 0, 0.596);
    border-radius: 100%;
    padding: 10%;
}
section{
    padding: 120px 40px 80px 40px;
    float: left;
}
.secao2{
    padding-top: 0;
    padding-bottom: 0;
}

.destaque{
    background-color: rgba(0, 128, 0, 0.192);
}
.imgind{
    width: 70%; 
    height: 30%;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.dois{
    width: 40%;
}
.tres{
    width: 23%;
}
.quatro{
    width: 15%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
    padding-bottom: 12%;
}
footer{
background-color: rgba(0, 128, 0, 0.192);
float: left;
width: 100%;
}
@media all and (max-width: 1020px) {
    .menu{
        visibility: collapse;
    }
    .titulo{
        text-align: center;
        font-size: 50;
    }
    .subtitulo{
        font-size: 20;
    }
    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin-left: 10%;
        float: none ;
        text-align: center;
    }
    .logodiv{
        width: 100%;
        position:relative;
        text-align: center;
    }
    .icone{
        width: 70px;
    }
}