html body {
    margin: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 200px;
    margin-left: 5%;
    position: absolute;
    margin-top: -65px;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 0;
}
.corfundo{
    color: white;
    text-decoration: none;
}
li{
    float: left;
    padding: 28.5 40 28.5 40;
    color: white;
}
li:hover{
    background-color: rgba(0, 128, 0, 0.596);
}
.imagemfundo{
    background: url(img/fundo1.jpg);
    height: 100%;
    text-align: center;
    background-size:cover;
    background-position: center;
    padding-top: 100px;
    list-style: none;
}
.fundocor{
    background-color: rgba(0, 0, 0, 0.425);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.titulo{
    color: white;
    padding: 50px 10px 0px 10px;
    margin-bottom: 0;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 200%;
}
.subtitulo{
    color: white;
    font-size: 150%;
    padding:10px 10px 10px 10px ;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.acao{
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.541);
    font-size: large;
    font-weight: 900;
}
.acao:hover{
    background-color: rgba(0, 128, 0, 0.596);
}
.icone{
    width: 35%;
}
.icone:hover{
    background-color: rgba(0, 128, 0, 0.596);
    border-radius: 100%;
    padding: 10%;
}
section{
    padding: 120px 40px 80px 40px;
    float: left;
}

.destaque{
    background-color: rgba(0, 128, 0, 0.192);
}
.imgind{
    width: 70%; 
    height: 30%;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.dois{
    width: 40%;
}
.tres{
    width: 29%;
    padding: 0 2%;
}
.quatro{
    width: 15%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
    padding-bottom: 5%;
}
footer{
background-color: rgba(0, 128, 0, 0.192);
float: left;
width: 100%;
}
@media all and (max-width: 1020px) {
    .menu{
        visibility: collapse;
    }
    .titulo{
        text-align: center;
        font-size: 100%;
    }
    .subtitulo{
        font-size: 100%;
    }
    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin-left: 10%;
        float: none ;
        text-align: center;
    }
    .logodiv{
        width: 100%;
        position:relative;
        text-align: center;
    }
    .logo{
        margin-left: 0px;
        transform: translateX(-50%);
    }
    .icone{
        width: 70px;
    }
}